{% extends "base.html" %}
{% load static %}

{% block title %} - Released Apps{% endblock %}

{% block content %}

  <div class="row"><div class="span12">
	  <h4>Please click <a href="{{ request.get_full_path }}repository.xml"/>here</a> to open repository.xml</h4>
  </div></div>
{% endblock %}
