{% extends "base.html" %}
{% load static %}

{% block more_head %}
  <link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}apps/css/nav_panel.css"/>
  <link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}apps/css/app_button.css"/>
  <link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}apps/css/app_stars.css"/>
  <style type="text/css">
    .icon-tag-cloud {
      background-image: url("{% get_static_prefix %}apps/img/tag_cloud.png");
    }
  </style>
{% endblock %}
{% block content %}

<div class="col" id="nav-panel">
  <div id="tag-list">
    <ul class="nav nav-list" id="top-tags">
      {% for tag in top_tags %}
      <li {% ifequal tag.name selected_tag_name %} class="active" {% endifequal %}>
        <a href="{% url 'tag_page' tag.name %}">
          <h5>
            <span class="title">{{ tag.fullname }}</span>
            <span class="count">({{ tag.count }})</span>
          </h5>
        </a>
      </li>
      {% endfor %}
      <li class="divider"></li>
    </ul>
    <ul class="nav nav-list" id="not-top-tags">
      {% for tag in not_top_tags %}
      <li {% ifequal tag.name selected_tag_name %} class="active" {% endifequal %}>
        <a href="{% url 'tag_page' tag.name %}">
          <h5>
            <span class="title">{{ tag.fullname }}</span>
            <span class="count">({{ tag.count }})</span>
          </h5>
        </a>
      </li>
      {% endfor %}
    </ul>
</div>

  <div id="tag-cloud">
    {% for tag in all_tags %}
      <a {% ifequal tag.name selected_tag_name %} class="tag-cloud-active" {% endifequal %} style="font-size: {{ tag.font_size_em }}em" href="{% url 'tag_page' tag.name %}">{{tag.fullname}}</a>
    {% endfor %}
  </div>
</div>

<div class="col-md-12">
  {% block main %}{% endblock %}
</div>


<script type="text/javascript" src="{% get_static_prefix %}apps/js/nav_panel.js"></script>
{% endblock %}

