#app-name
{
    margin: 0;
}

#app-usage-info
{
  margin-top: 1em;
  margin-bottom: 3em;
}

.app-usage-info-divider {
    padding-left: 1em;
}

#usage-info-spacer {
  padding-left: 1em;
}

#rating-loading
{
	display: none;
	text-align: center;
}

#app-screenshots {
	height: 170px;
	overflow-x: auto;
	overflow-y: hidden;
	-ms-overflow-x: auto;
	-ms-overflow-y: hidden;
	white-space: nowrap;
}

#app-screenshots img,a {
	border: 0;
	outline: none;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 1em;
}

#app-install-btn {
	margin-bottom: 0.7em;
}

#app-install-btn h4 {
	display: inline;
	vertical-align: middle;
	margin-left: 0.3em;
}

[class^="icon-install-"], [class*="icon-install-"] {
    background-image: url('../img/install_icons.png');
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.icon-install-upgrade {
    background-position: 2px 0;
}

.icon-install-installed {
    background-position: -21px 0;
}

.icon-install-download {
    background-position: -46px 0;
}

.icon-install-install {
    background-position: -70px 0;
}

.markdown-preview {
	border: 2px dashed #aaa;
	padding: 1em;
	position: relative;
	margin-top: 0.5em;
	margin-bottom: 1.5em;
}

small .timeago {
    margin-left: 0.5em;
	cursor: auto;
	border: none;
}

.nav-list {
    padding-left: 0;
}

.nav-header {
    font-size: 0.85em;
}


.rating-stars {
    position: relative;
    width: 85px;
    display: inline;
    cursor: pointer;
}

.rating-stars-empty {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
}

.rating-stars-filled {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 102;
}

.rating-spacer {
  padding-left: 90px;
}

#usage-info-spacer {
  padding-left: 1em;
}

#rating-loading
{
	display: none;
	text-align: center;
}
